h1, h2 {
  margin: 1rem;
}

.container {
  min-height: 85vh;
  min-width: 95vw;
  max-width: 95vw;
}

.page-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 1rem;
}

.urls-container {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  justify-content: stretch;
  margin: 1rem;
}

mat-nav-list {
  width: 100%;
}

.spinner-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
}

.absolute-center {
  min-width: 50vw;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.filter-range-card {
  min-width: 50vw;
}


.info-card {
  display: table;
  min-width: 40vw;
  min-height: 10vh;
  padding: 2rem;
  text-align: center;
  text-anchor: middle;
  font-size: 1.5rem;
  font-weight: 500;
}

.info-card.fail {
  background-color: #ffb9b9;
}
