<div class="container">
  <div class="main-header">
    <h1>About us</h1>
  </div>
  <div class="content">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          URL management service Track.ly
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="description-text">
        <p>
          Maximize the potential of your online presence with our powerful URL management solution. Whether you're a small
          business owner, marketer or influencer, our service is designed to simplify and optimize your link sharing experience.
          Say goodbye to long, cumbersome URLs and hello to URLs that drive engagement and boost your online success.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Why should I use Track.ly?
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="description-content">
        <div class="description-text">
          <p>
            Long, convoluted URLs can appear suspicious and deter potential visitors from clicking on your links. Our solution
            provides clean, trustworthy URLs that increase click-through rates and ensure your audience feels confident accessing
            your content.
          </p>
        </div>
        <div class="description-text">
          <p>
            Simplify the process of link management with our intuitive interface. Create, edit, and organize your links
            effortlessly, and access them from anywhere, at any time. Our user-friendly dashboard ensures you're always in control
            of your URLs.
          </p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Ready to get started?
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="description-content">
        <div class="description-text">
          <p>
            It's easy to start creating custom URLs with us! Register an account and start maximizing the impact of your links
            today.
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
